.homecontent {
    border: 1px solid #f7f1f1;
    margin: 23px;
    font-size: 14px;
    padding: 25px;
    width: 135px;
    height: 140px;
    border-radius: 2px;
    -webkit-box-shadow: -2px 10px 22px -16px rgba(0,0,0,.75);
    -moz-box-shadow: -2px 10px 22px -16px rgba(0,0,0,.75);
    box-shadow: -2px 10px 22px -16px rgba(0,0,0,.75);
	text-align: center;
}
.homecontent p {
	margin-top: 20px;	
}
.homecontent lazyloaded {
	margin-top: 20px;	
}

span.spanh2 {
    color: #DF3A01;
    line-height: 0;
    font: 15px verdana,helvetica,arial,sans-serif;
    display: inline;
}
.leftmenu2 span {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    color: #610B38;
    padding-left: 23px;
    font-weight: 700;
    font-size: 13px;
    width: 100%;
    display: block;
    /* background: url("../../images/icon_bullet.png") no-repeat; */
}

.leftmenu a:active, .leftmenu a:hover, .leftmenu a:link, .leftmenu a:visited {
    width: 100%;
    display: block;
    margin-left: 14px;
    margin-top: 2px;
    float: left;
    background: url('../../images/arrowbullet.png') 0 4px no-repeat;
    padding-left: 15px;
}
h2.spanh2 {
    margin: 0;
    padding: 0;
}

/* CSSTerm.com Simple CSS menu */

.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
}

.menu_simple ul li a {
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color: #005555;
    display:block;
}
 
.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #5FD367;
}